body {}

.imgbox {
  background-image: url(Soul.png);
  background-repeat: no-repeat;
  width: 640px;
  height: 865px;
  position: relative;
}

.right-text {
  position: absolute;
  top: 0;
  right: 0;
  width: 32%;
  padding-top: 10px;
  padding-right: 20px;
}

.textright {
  text-align: right;
  font-family: Arial;
  color: white;
}

.title-center {
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 80px;
  left: 10px;
}

.link {
  text-align: center;
  width: 650px;
  color: #1E90FF;
}

a {
  color: #1E90FF;
}

a:hover {
  color: #B22222;
}

.title {
  font-family: impact;
  font-size: 150px;
  color: #197bd2;
}

.another-color {
  color: #ffa500;
}

.customtext {
  font-family: helvetica;
  font-weight: normal;
  font-size: 14px;
  color: #1E90FF;
}

.bigger {
  font-size: 20px;
}

.textcenter {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.poster-bottom-text {
  margin-top: -13px;
  width: 650px;
  text-align: center;
}

.bottomimage {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
